<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://s3.powerhrg.com/nitro-demo/mdm_builds/connect/ios/34e10d18-2aad-4b5f-bc13-c6dce34ef06e/Connect-b17487.ipa?AWSAccessKeyId=5M8A05S1ZFKGKON5KLYK&amp;Signature=PFyDWqvHDIfsBoOuF/cor%2BcqoZ0%3D&amp;Expires=1608892723</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>com.powerhrg.connect.dev</string>
          <key>bundle-version</key>
          <string>5</string>
          <key>kind</key>
          <string>software</string>
          <key>title</key>
          <string>Connect Beta</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
